<!DOCTYPE html>
<html>
    <head>
        <title>秘宝科学计算</title>
        <link rel="stylesheet" type="text/css" href="main.css">
    </head>


    <body>

      <form action = "https://flapi.vercel.app/api/calculator" method = "post">
          <p>input:</p>
          <p><input type = "text" name = "cal_para1" /></p>
<!--          <p>Enter PassWord:</p>-->
<!--          <p><input type = "password" name = "passwd" /></p>-->

          <p><input type = "submit" value = "calculate" /></p>
      </form>

    </body>
</html>